@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

@layer utilities {
  .aspect-w-85 {
    position: relative;
    padding-bottom: calc(110 / 85 * 100%);
  }
  .aspect-w-85 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
